.sidebar_container {
    height: 100vh;
    max-width: 256px;
    min-width: 256px;
    border: black solid 5px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.sidebar_top_container, .sidebar_pagelinks_container {
    width: stretch;
    height: auto;
}

.sidebar_pagelinks_container {
}

.sidebar_pagelinks_button {
    margin: auto;
    border: none;
    width: stretch;
   /* background-color: white;*/
    display: block;
    transition: transform;
}

.sidebar_pagelinks_button:hover {
    transform: scale(1.2);
    transition: transform;
}