body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}

.site-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

button {
  user-select: none;
}

/*
I have to turn off text-decoration for ALL a tags, because the text-decoration (underline)
on the buttons in SidebarPagelinksButton will NOT disappear if i add it inline/class. Only
way is to do this and apply it to EVERYTHING.
ARGH WHY
*/
a {
  text-decoration: none;
}