@import "tailwindcss";

/*body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}*/

:root {
  --max-inf-scroll-count: 4;
  --slide-width: 256px;
  --slide-gap: 10px;
  --slide-time: 50s;
}

body {
  position: relative;
}

.material-symbols {
  font-family: 'Material Symbols';
  font-size: 64px !important;
  color: #3282B8;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@theme {
  --font-standard: "Satoshi", "sans-serif"; /* Test */

  --breakpoint-xs: 512px;
  --breakpoint-veryXL: 1800px;
  --color-*: initial;
  --color-clr-invisible: rgba(0,0,0,0);
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-clr-60-1: #1B262C;
  --color-clr-30-1: #0F4C75;
  --color-clr-10-1: #3282B8;
  --color-clr-10-2: #BBE1FA;


  --h-regular: 32px;
  --p-regular: 16px;
}

.site-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

@tailwind utilities;

@layer base {

  html {
    @apply bg-clr-60-1; /*bg-gray-900*/
  }

  p, h1, h2, h3, a {
    @apply text-white;
  }

  div {
    /*bg-clr-30-1 rounded-sm ring-3 ring-clr-10-1*/
    @apply border-white;
    @apply box-border;
  }


}

.reg-30-div {

}

@layer components {
  .reg-30-div, .reg-top-titlediv {
    @apply bg-clr-30-1;
    @apply rounded-sm;
    @apply ring-3;
    @apply ring-clr-10-1;
  }

  .reg-top-titlediv {
    @apply xl:ml-12;
    @apply h-[256px];
    @apply min-h-[256px];
    @apply right-0;
    @apply flex;
    @apply flex-col-reverse;
    @apply align-bottom;
  }

  .reg-top-titlediv-text {
    @apply text-8xl;
    @apply pb-8;
    @apply w-max;
    @apply h-min;
    @apply mx-auto;
    @apply xl:pl-8;
    @apply xl:mx-0;
  }

  .reg-10-img {
    /*rounded-[22px] ring-3 ring-clr-10-1*/
    @apply rounded-[22px];
    @apply ring-3;
    @apply ring-clr-10-1;
    @apply select-none;
  }

  .std-button {
    /*  mb-8 p-4 rounded-2xl bg-clr-10-2 text-black ring-3 ring-clr-10-1 hover:bg-clr-10-2/25 hover:text-white hover:ring-clr-10-2*/
    @apply mb-8;
    @apply p-4;
    @apply rounded-2xl;
    @apply bg-clr-10-2;
    @apply text-black;
    @apply ring-3;
    @apply ring-clr-10-1;
    @apply hover:bg-clr-10-2/25;
    @apply hover:text-white;
    @apply hover:ring-clr-10-2;
    @apply active:bg-clr-10-2;
    @apply active:text-black;
    @apply transition;
    @apply duration-200;
    @apply select-none;
  }

  .inf-scroll-container {
    mask-image: linear-gradient(to bottom, transparent , black 25%, black 75%, transparent);
    height: calc(100dvh - 256px);
  }

  .inf-scroll-container-horizontal {
    mask-image: linear-gradient(to right, transparent , black 25%, black 75%, transparent);
  }

  .inf-scroll-up {
    animation: inf-up 50s linear infinite;
  }

  .inf-scroll-right {
    animation: inf-right 50s linear infinite;
  }
  
  @keyframes inf-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }

  @keyframes inf-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

/*button {
  user-select: none;
}*/

/*
I have to turn off text-decoration for ALL a tags, because the text-decoration (underline)
on the buttons in SidebarPagelinksButton will NOT disappear if i add it inline/class. Only
way is to do this and apply it to EVERYTHING.
ARGH WHY
*/
/*
a {
  text-decoration: none;
}*/
